/* .calcont{
    border-right: 3px solid lightgrey;
    float:left;
    width:80%;
} */
.h1tag{
    text-align: center;
}
.calc_whole{
    margin: 0 auto;
    width: 500px;
    border: 4px solid #000;
}
.maindisplay.answer{
    font-size: 30px;
}
.maindisplay{
    background: #ded7d7;
    padding: 0px 15px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    float: right;
    width: 100%;
    min-height: 40px;
}
.subdisplay{
    height: 25%;
    font-size: 20px;
    overflow: auto;
}
.spanclose{
    font-weight: bold;
}
.keypad .topkey
{
    height: calc(50% / 2);
}
.numkey{
    font-weight: bold;
}
.keys {
    margin: 0;
    width: 25%;
    height: 5%;
    background:whitesmoke;
    color: black;
    padding: 2%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.opkey{
    width: 25%;
    height: 5%;
}
.ackey{
    width: 50%;
    height: 5%;
}
.keys:hover{
    background-color: lightgrey;   
}
.ackey:hover{
    background-color: red;   
}
.opkey:hover{
    background-color:grey;   
}
.keys:hover:nth-child(17){
    background-color: blue;   
}
.one-line{
    display: inline-block;
}
