<!-- <div class="calcont clearfix"> -->
  <h3 class="h1tag">Calculator.</h3>

  <div class="calc_whole">
  <div class="maindisplay">  {{ history }} </div>
    <div class="maindisplay answer">{{(currentValue) || (currentAnswer | numcomma) || "0"  }}</div>
  
  <div class="keypad">
    <button class="keys ackey one-line" (click)="allClear()" >AC</button>
    <button class="keys ackey one-line" (click)="clear()"><i class="fa fa-times-rectangle-o" style="font-size:20px;"></i></button>
    <button class="keys numkey one-line" (click)="pressNum('7')">7</button>
    <button class="keys numkey one-line" (click)="pressNum('8')">8</button>
    <button class="keys numkey one-line" (click)="pressNum('9')">9</button>
    <button class="keys opkey one-line" (click)="pressNum('*')">&#xD7;</button>
    <button class="keys numkey one-line" (click)="pressNum('4')">4</button>
    <button class="keys numkey one-line" (click)="pressNum('5')">5</button>
    <button class="keys numkey one-line" (click)="pressNum('6')">6</button>
    <button class="keys opkey one-line" (click)="pressNum('-')">-</button> 
    <button class="keys numkey one-line" (click)="pressNum('1')">1</button>
    <button class="keys numkey one-line" (click)="pressNum('2')">2</button>
    <button class="keys numkey one-line" (click)="pressNum('3')">3</button>
    <button class="keys opkey one-line" (click)="pressNum('+')">+</button>
    <button class="keys numkey zerokey one-line" (click)="pressNum('0')">0</button>
    <button class="keys numkey one-line" (click)="pressDeci('.')">.</button>
    <button class="keys equalkey one-line" (click)="calCulateequal()">=</button>
    <button class="keys opkey one-line" (click)="pressNum('/')">&#xF7;</button>
  </div>
</div>